// Iconography
// -------------------------
$icon-font-path:          "../../fonts/";
$theme-font-path:          "../../fonts/";
// Image
// -------------------------
$image-theme-path:'../../image/';
$image-theme-base-path:       '../../image/cyan/';

$cyan:                 #2ac2d0;
$theme-color           : $cyan; // using for default color of all pages such as background color for top menu, block header
$theme-color-default   : $cyan;

// Topbar 
// ========================================================================

// Header
// ========================================================================

// Mass header 
