#topbar,.main-menu.mainnav-v1{
	background: #009fa9;
	color: #00ccd9;
}
#topbar .links > a,#cart .media a .cart,#cart .media a,.pav-megamenu .navbar-nav > li > a{
	color: #ebebeb;
}
#topbar .btn-group .dropdown-menu{
	background: #fff;
}
#topbar.topbar-v1 .container .inner,#topbar .quick-access > div .currency a{
	border-color: #33b2ba;
}

